# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num = 6
print(num)

6

##### Assinging float

In [2]:
numberFloat = 3.14
print(numberFloat)

3.14

#### Performing Calculations on ints and floats

##### Addition

In [14]:
num1 = 2
num2 = 5.4

result = num1+num2
print(result)

print(type(result))


#shorthand -- incrementer
result += 2
print(result)

7.4
<class 'float'>
9.4

##### Subtraction

In [5]:
num1 = 2
num2 = 5.4

result_diff = num1-num2
print(result_diff)


print(type(result_diff))

-3.4000000000000004
<class 'float'>

##### Multiplication

In [8]:
result_prod = num1*num2
print(result_prod)
print(type(result_prod))

10.8
<class 'float'>

##### Division

In [10]:
result_div = num1/num2
print(result_div)
print(type(result_div))

0.37037037037037035
<class 'float'>

##### Floor Division

In [17]:
result_floor = num2//1
print(result_floor)

print(type(result_floor))


##returns largest whole integer -- but number remains a float

5.0
<class 'float'>

##### Modulo

In [18]:
result_mod = num2 % num1
print(result_mod)
print(type(result_mod))

1.4000000000000004
<class 'float'>

##### Exponential

In [21]:
square = 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [25]:
name = "Francis" 

print(name)



# denotaed with ''
# strings are imutable - are indexable (can get things from them) - can iterate over them

Francis

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print('This is my first Name:', name)
print('Full Name:', name, end=' Pyon')

This is my first Name: Francis
Full Name: Francis Pyon

##### String Concatenation

In [33]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + last_name

print(full_name)


#### shorthand ######

full_name += ' Jr'
print(full_name)

JohnSmith
JohnSmith Jr

##### Type Conversion

In [38]:
number = '32'
print(number)
print(type(number))

int()
float()
str()


##lailai
bool()
list()

print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
changed = int(number)
print(changed)
print(type(changed))


## original hasnt been changed -- you just moved something and created another value

32
<class 'str'>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
32
<class 'int'>

##### input()

In [44]:
# will ALWAYS return a string

age = input('what is your age')


add_age = age + 5

print('In 5 years, you will be'str(add_age) + 'years old')

what is your age55
In 5 years, you will be 60 years old

##### format()

In [47]:
age = input('How old are you')


f_string = f'I am  {age+5} years old'

print(f_string)

How old are you7

TypeError: can only concatenate str (not "int") to str

##### Old Way (python 2)

In [49]:
result = "You are %s and you look great for your age!" %age

print(result)

You are 7 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [53]:
#output - The car's color is blue, the year is 2022, and it is a Honda Civic

color = 'blue'
year = '2022'
make = 'Honda Civic'

f_string = f"The Car's color is {color}, the year is {year}, and it is a {make}."
print(f_string)

The Car's color is blue, the year is 2022, and it is a Honda Civic.

### If Statements

In [57]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1=5 
num2=10

if num2 == num1:
    print('EQual Values')
else:
    print('not EQ')
    
if num2 >= num1:
    print('num 2 is greater')
elif num2 <= num1:
    print('num 1 is greater')
else:
    print('none = true')

not EQ
num 2 is greater

##### 'is' keyword

In [63]:
num3 = 55
num4 =55
if num3 is num4: 
    print('this is the exact number/pbject')

this is the exact number/pbject

##### 'in' keyword

In [65]:
# check if a char is in a name
char_name = "Harry Potter"

if 'r' in char_name:
    print("The letter \"r\" is in the character's name")

The letter "r" is in the character's name

##### 'not in' keyword'

In [66]:
### not makes it opposite
sega_char = 'Sonic'

if 'a' not in sega_char:
    print("The letter \"a\" is not in the character's name")

The letter "a" is not in the character's name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [77]:

user_input = input('Who is your favorite Character').lower()

print(user_input)
if 'p' in user_input:
    print("The letter \"p\" is in the input")
else:
    print("The letter \"p\" is not in the input")

Who is your favorite CharacterHarry Potter
harry potter
The letter "p" is in the input

## Using 'and'/'or' with If Statements

In [79]:
num11 = 15
num12 = 3
num13 =10
num14 = 3

#if statement with "and"
if num11/5 == num12 and num13-7 == num14:
    print('True and True')

True and True

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [83]:
#for, counter, condition:

#for index in range(10):

# name ="Frankie Pyon"

# for letter in name:
#     print(letter)
    
    
for i in range(len(name)):
    print(name[i])

F
r
a
n
k
i
e

P
y
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

In [87]:
#While -kw- conditional statement

num=0
while num > 10:
    print(num)
    num+=1
print('done')

done

##### Looping 'While True'

In [90]:
loops=0

while True:
    print ('infinite loop')
    loops +=5
    if loops ==30:
        break

infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop

##### While & For Loops Used Together

In [93]:
num=0 
while num < 5:
    print('\nWhile Loop iteration:', num)
    
    for i in range(2):
        print("For Loop Iteration", i)
        
    num+=1
print('done')

While Loop iteration: 0
For Loop Iteration 0
For Loop Iteration 1

While Loop iteration: 1
For Loop Iteration 0
For Loop Iteration 1

While Loop iteration: 2
For Loop Iteration 0
For Loop Iteration 1

While Loop iteration: 3
For Loop Iteration 0
For Loop Iteration 1

While Loop iteration: 4
For Loop Iteration 0
For Loop Iteration 1
done

### Built-In Functions

##### range()

In [96]:
#range(start,stop,step)

for i in range(5):
    print(i)
print('-------')  
for num in range(3,8):
    print(num)
print('-------') 

for j in range(5,11,3):
    print(j)

0
1
2
3
4
-------
3
4
5
6
7
-------
5
8

##### len()

In [98]:
#can only take in 1 element
# len takes in an iterable - string, list, tuple, or dictionary

name ="Max  "
nums = [11,2,3,2]
len(nums)

4

##### help()

In [ ]:
# use this find out more info on a python fucntion (with DOCSTRING)

##### isinstance()

In [99]:
isinstance(4, int)

True

##### abs()

In [100]:
#absoulte value 
print(abs(-5))

5

### Try and Except

In [ ]:
#use when you expect to encounter a bug - so that the error doesnt cause your app to crash
num = 0
while True:
    try:

   
        guess = int(input('guess a number'))
        if guess == num:
            print('correct')
            break
        else:
            print('Wrong #! try again!!!')
      
    

    except:
        print("invalid input...put in a digit")

guess a numberhi
invalid input...put in a digit
invalid input...put in a digit
guess a numberg

### Lists

##### Declaring Lists

In [1]:
#
l_1 =[1,2,3,4,5,6,7,8] #empty list
print(l_1)

print(type(l_1))

n = [0,1, 'me', 'you', [1,2,3,4]]

[]
<class 'list'>

##### Indexing a List

In [17]:
#starts from 0
# can do n[-1] == n[len(n)-1]
#out of place -- the list doesn't change -- doesnt change the original list

n = [0,1, 'me', 'you', [1,2,3,4]]

#slice starting from 1 -> end

TypeError: 'list' object is not callable

##### .append()

In [19]:
## inplace -- it changes the original 
name_1 = ["Shoha", "frankie"]
print(name_1)
name_1.append('ivna')
print(name_1)

TypeError: 'list' object is not callable

##### .insert()

In [20]:
## adds something into the list at the given index

##### .pop()

In [ ]:
## removes the last thing in the list by default -- but can be given a specfic index


##### .remove()

In [ ]:
# takes in a value to remove, not an index --- grabs the first instance of the value

##### del()

In [ ]:
# straight deletes whatever element at the given index

##### Concatenating Two Lists

In [24]:
#adds 2 lists together
x = [1,2,3,4,5]
y = [6,7,8,9]

lg_list = x+y
print(lg_list)
print(x)
print(y)

TypeError: 'list' object is not callable

##### Lists Within Lists

In [ ]:
# lists can hold other lists, and you can nest it even deeper as much as you want

##### Looping Through Lists

In [ ]:
 # 2 ways to loop[ through]#
    # 1st - loop through each individual element
    # 2nd - loop through the indicies and grab the corresponding element.

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
i = 1
while i < 11:
    print(i**3)
    if i == 1000:
        break
    i+=1

1
8
27
64
125
216
343
512
729
1000

In [2]:
for number in range(1, 11):
    cube = number**3
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [10]:
for prime in range (1, 101):  
    if prime > 1:  
        for i in range (2, prime):  
            if (prime % i) == 0:  
                break  
        else:  
            print (prime)

print("-----------------------------") 

## googled how to use all function -- have small understanding but will have to ask tomorrow

primes = [x for x in range(1,100) if all(x%y!=0 for y in range(2,x))]

print(primes)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
-----------------------------
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [8]:
age= int(input('How Old Are You?'))

if age < 18:
    print('Kid')
elif age >= 18 and age <= 65:
    print("Adult")
else:
    print("seniors")

Kid